body {
    background-color: aqua;
    border-radius: 0;
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 10px; 
    background-color: rgb(212, 234, 123); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

div {
    box-sizing: content-box;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}
